<h1><%= @user.username.upcase %>'s Profile</h1>
<p>learn.co/<%= @user.learn_handle %></p>
<%if @user.user_photo%>
  <img src="/images/profile/<%= @user.user_photo %>" style="width:10%" class="img-circle" alt="">
<%end%>
<form action="/users/<%= @user.id%>/edit" method="post">
  <input type="hidden" name="_method" value="get">
  <input type="submit" name="" value="Edit Profile Photo">
</form>
<br><br>

<h2><%= @user.username %>'s posts</h2>
<% posts = @user.posts.sort_by {|post| post.id }.reverse %>
<div class="container-fluid bg-3 text-center">
  <% posts.each do |post| %>
  <div class="row">
    <div class="col-sm-3">
      <img src="/images/post/<%= post.post_photo%>" style="width:100%">
      <a href="/posts/<%= post.id%>"><%= post.caption %></a>
    </div>
  <% end %>
</div><br>
